[submodule "src/externals/ViLa-MIL"]
	path = src/externals/ViLa-MIL
	url = https://github.com/Jiangbo-Shi/ViLa-MIL
[submodule "src/externals/TOP"]
	path = src/externals/TOP
	url = https://github.com/miccaiif/TOP.git
[submodule "src/externals/CONCH"]
	path = src/externals/CONCH
	url = https://github.com/MahmoodLab/CONCH.git
